In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Machine Learning - Model Evaluation & Linear Regression Gradient Descent

## 1. Model Evaluation
### - Hold-out Evaluation

In [ ]:
# load dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
df = pd.read_csv(url, sep=';')

In [ ]:
# show data using head()
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [ ]:
# shuffle the data # 꼭 필요한 과정~
df_shuffle = df.sample(frac=1, random_state=23) # frac :   # random_state : 시드값

In [ ]:
df_shuffle

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
201,8.8,0.370,0.48,2.1,0.097,39.0,145.0,0.99750,3.04,1.03,9.3,5
167,7.3,0.550,0.03,1.6,0.072,17.0,42.0,0.99560,3.37,0.48,9.0,4
1011,8.9,0.320,0.31,2.0,0.088,12.0,19.0,0.99570,3.17,0.55,10.4,6
604,8.3,0.580,0.13,2.9,0.096,14.0,63.0,0.99840,3.17,0.62,9.1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1512,6.4,0.790,0.04,2.2,0.061,11.0,17.0,0.99588,3.53,0.65,10.4,6
950,8.9,0.120,0.45,1.8,0.075,10.0,21.0,0.99552,3.41,0.76,11.9,7
1064,8.2,0.740,0.09,2.0,0.067,5.0,10.0,0.99418,3.28,0.57,11.8,6
742,6.5,0.615,0.00,1.9,0.065,9.0,18.0,0.99720,3.46,0.65,9.2,5
595,8.9,0.595,0.41,7.9,0.086,30.0,109.0,0.99980,3.27,0.57,9.3,5

In [ ]:
# select features "fixed acidity", "volatile acidity", "chlorides"
A = df_shuffle[["fixed acidity", "volatile acidity", "chlorides"]]
A.insert(0, 'intercept', 1)
A = A.to_numpy()

In [ ]:
# show data
A

array([[1.   , 6.3  , 0.51 , 0.076],
       [1.   , 8.8  , 0.37 , 0.097],
       [1.   , 7.3  , 0.55 , 0.072],
       ...,
       [1.   , 8.2  , 0.74 , 0.067],
       [1.   , 6.5  , 0.615, 0.065],
       [1.   , 8.9  , 0.595, 0.086]])

In [ ]:
# convert to numpy arrays
b = df_shuffle["quality"].to_numpy()

In [ ]:
# hold-out evaluation: 80 for training / 20 for test
x_train = A[:1400]
y_train = b[:1400]
x_test = A[1400:]
y_test = b[1400:]

In [ ]:
# train the model with normal equation
x_hat = np.linalg.inv(x_train.T @ x_train) @ x_train.T @ y_train

In [ ]:
# error = b - A x_hat
error = y_test - x_test @ x_hat
error

array([ 5.37931236e-01, -8.42831323e-01,  2.45394589e-01,  1.32564306e+00,
       -5.72191383e-02, -5.12725428e-01, -5.62897641e-02, -9.34289032e-01,
        1.84532230e-01, -9.38977059e-03, -1.55794116e-02, -6.79544527e-01,
        1.09376151e+00,  2.88129417e-01,  9.16496877e-01,  1.27063646e+00,
       -5.36296744e-01,  5.90871244e-01, -7.40154206e-01,  8.46902246e-02,
       -2.00727114e-01, -5.14751872e-01, -5.19547194e-01,  9.84941227e-01,
        4.56936873e-01, -5.65992151e-01,  4.64224100e-01, -5.80668493e-01,
        4.54435834e-01,  3.52410313e-01,  7.77171657e-01, -3.46333530e-02,
        5.97065207e-02,  4.18699382e-01, -9.50499210e-01,  3.95527977e-01,
       -4.13589460e-01, -4.14389023e-01,  6.20298354e-01, -1.69158770e+00,
        1.64809566e-01,  4.72199092e-01, -8.11396297e-01,  4.10557466e-01,
        1.01325166e+00,  9.55514579e-01, -3.58436010e-01,  1.10168138e+00,
        4.23625287e-01,  3.78159502e-01, -7.00568297e-01, -1.04952312e+00,
        8.84299605e-01, -2.30729688e-03,  5.42539818e-01, -5.73400568e-01,
        3.51927097e-01,  5.53740472e-01,  1.31117912e+00, -5.99511610e-02,
       -7.36575824e-01, -6.45154656e-01,  3.35104095e-01, -5.83903547e-01,
        9.57316015e-02, -8.20746565e-01, -1.06620656e+00,  3.94437120e-02,
        1.23244266e-01,  4.11189591e-01,  3.60329664e-01,  1.35901003e+00,
        3.39155752e-01,  2.72198475e-01, -6.79544527e-01,  5.33765519e-01,
        3.66054876e-01,  3.64703391e-02,  9.86631768e-01,  1.72021593e-01,
        3.35494355e-01, -3.70108740e-01, -8.93300732e-01,  7.94030431e-01,
        1.15614758e+00,  1.56518099e+00,  1.10718351e+00, -8.73391843e-01,
        1.13740967e+00, -5.83085197e-01,  9.63825128e-02,  8.10074455e-01,
       -1.44174267e+00,  2.31183538e-01,  7.44993738e-01,  9.65291705e-01,
       -5.80389773e-01, -9.97473888e-01,  1.67214355e+00,  3.70125834e-01,
        5.57792387e-01,  4.46508578e-01, -3.05958170e-01, -4.93336610e-01,
        4.92035413e-02, -4.59690662e-01,  1.30580834e+00,  4.93520627e-01,
       -3.30570915e-01,  8.24285248e-01,  4.17750449e-01,  1.14192627e+00,
        5.61984278e-01, -7.31017278e-01, -1.05232957e+00,  1.40402655e+00,
       -7.11926739e-01,  6.00110745e-01,  2.09156737e+00, -1.55221439e-01,
        6.30948186e-01,  2.58963268e-01, -8.72870743e-01, -9.25236528e-01,
       -1.00109869e+00, -5.84107326e-01,  1.02821663e+00, -3.59978724e-01,
        4.61734972e-02, -1.03072983e+00,  7.19341826e-01,  1.67214355e+00,
        1.00803056e+00, -5.48453977e-01,  5.83230355e-01,  1.76649476e-01,
       -8.71550851e-01,  1.01444122e+00,  1.96745362e-01,  6.20298354e-01,
       -1.39486198e+00, -1.36440334e+00, -4.83671281e-01,  1.14094023e+00,
       -3.69672747e-01,  1.22573796e-01,  2.02284349e-01, -7.81932846e-01,
        6.55424992e-02,  8.16243555e-02,  2.54538852e-01, -4.17149482e-01,
       -2.32439830e-01,  2.09479079e-01,  1.48177244e+00, -3.60388028e-01,
       -8.26547233e-01,  5.17184439e-01, -5.75277128e-01, -1.22385986e+00,
       -1.96750141e-01,  1.83864022e-01,  5.85378762e-01, -5.71342357e-02,
        1.50755957e-01,  8.78770578e-01, -5.06655947e-01,  7.92879262e-01,
        7.50171417e-01, -3.18057243e-01, -2.47794235e-01,  4.98855578e-01,
       -7.95521511e-01, -5.33341470e-02,  1.89403010e-01, -3.14109994e-01,
        8.49827713e-01,  4.09962453e-01,  9.24878601e-01,  7.31738662e-01,
       -1.46558680e-01,  1.01418180e+00,  4.41340808e-01, -2.65145635e+00,
       -9.47970966e-01, -8.95976598e-01, -6.96386057e-01,  1.52093982e+00,
       -5.55108562e-01, -7.56187206e-01,  1.74643106e-01, -9.90111925e-01,
        6.23635555e-01,  7.15670521e-01,  8.19015162e-01,  6.42622405e-01,
        6.97684183e-01, -4.72657109e-01, -5.29130193e-01])

In [ ]:
# MSE
MSE = error.T @ error
MSE = MSE / len(y_test)

In [ ]:
# "Model 1" MSE
MSE

0.5800827732694251

Suppose we want to compare two models "Model 1" and "Model 2",

- "Model 1" is using "fixed acidity", "volatile acidity", "chlorides" for prediction of "quality".
- "Model 2" is using "residual sugar", "free sulfur dioxide", "chlorides" for prediction of "quality".

We can evaluate model performances with MSE.

In [ ]:
# feature selection
A = df_shuffle[["residual sugar", "free sulfur dioxide", "chlorides"]]
A.insert(0, "intercept", 1)

In [ ]:
# convert to numpy arrays
A = A.to_numpy()
b = df_shuffle[["quality"]].to_numpy()

In [ ]:
# hold-out tech. train and test 80/20
x_train = A[:1400]
y_train = b[:1400]
x_test = A[1400:]
y_test = b[1400:]

In [ ]:
# train the model
x_hat = np.linalg.inv(x_train.T @ x_train) @ x_train.T @ y_train

In [ ]:
# error = b - A x_hat
error = y_test - x_test @ x_hat

In [ ]:
# "Model 2" MSE
MSE = error.T @ error
MSE = MSE / len(x_test)

In [ ]:
MSE

array([[0.62398506]])

Therefore, "Model 1" has better prediction than "Model 2" in terms of MSE using hold-out evaluation.

## - k-fold cross-validation

Suppose we split dataset into 5-folds, and want to evaluate "Model 1"
- Model 1: "fixed acidity", "volatile acidity", "chlorides" for features, and "quality" for prediction variable

In [ ]:
# select features "fixed acidity", "volatile acidity", "chlorides"
A = df_shuffle[["fixed acidity", "volatile acidity", "chlorides"]]
A.insert(0, 'intercept', 1)

In [ ]:
# convert to numpy arrays
A = A.to_numpy()
b = df_shuffle['quality'].to_numpy()

In [ ]:
# create 5-fold cross_validation function
k = 5
def cross_validation(k, A, b):
  num_data = len(A) # 총데이터
  idx = num_data // k # 한 인덱스
  idx_set = [0, idx, 2*idx, 3*idx, 4*idx, num_data]
  total_MSE = 0
  for i in range(len(idx_set)-1):
    # train set 인덱스 부분 합치기
    x_train = np.concatenate((A[:idx_set[i]], A[idx_set[i+1]:]))
    y_train = np.concatenate((b[:idx_set[i]], b[idx_set[i+1]:]))

    # test set 부분
    x_test = A[idx_set[i]:idx_set[i+1]]
    y_test = b[idx_set[i]:idx_set[i+1]]

    # 앞의 예제와 같은 계산 과정
    x_hat = np.linalg.inv(x_train.T @ x_train) @ x_train.T @ y_train
    error = y_test - x_test @ x_hat
    MSE = error.T @ error / len(x_test)
    total_MSE += MSE

  avg_MSE = total_MSE / k

  return avg_MSE

In [ ]:
# test the function for model 1
cross_validation(k, A, b)

0.5471914183865738

Next, on Model 2, where the linear model is "residual sugar", "free sulfur dioxide", "chlorides" for features and predict "quality".
- Use cross_validation with k=5 and compare with the previous result

In [ ]:
# model 2 feature selection
A = df_shuffle[["residual sugar", "free sulfur dioxide", "chlorides"]]
A.insert(0, "intercept", 1)

In [ ]:
# to numpy arrays
A = A.to_numpy()
b = df_shuffle[["quality"]].to_numpy()

In [ ]:
# cross validation for model 2
cross_validation(k, A, b)

array([[0.64260383]])

# 2. Feature Engineering

In [ ]:
# Use pd.read_csv() to load the house price dataset from the URL.
url = "https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv"
df = pd.read_csv(url)

In [ ]:
df.head(2)

In [ ]:
# suppose person_per_bed = population / total_bedrooms which is how many people use one bedroom is the crucial feature for determining the house price

In [ ]:
df.head(2)

# 3. Feature Scaling

One way of feature scaling is max normalization where you can scale data by the maximum value.

In [ ]:
# get a maximum value from median_house_value in house price dataset
max_value = df["median_house_value"].max()
max_value

KeyError: ignored

In [ ]:
# you can normalize median_house_value
df["median_house_value"] # 데이터를 최대한 0과 1 사이에 scaling 시킴~

In [ ]:
df

# 4. Linear Regression with 1 feature (Gradient Descent)

Suppose we want to perform simple linear regression on weight and height data. Let us start with very simple synthetic data.

In [ ]:
# let's get our training data
x_train = np.array([62, 64, 68, 72, 80, 85])
y_train = np.array([166,173, 172, 180, 176, 185])

In [ ]:
# plot our data on 2-dimension xy-plane


# labels and title

In linear regression,

1.   model: $f_{wb} = wx + b$
2.   parameter: $w, b$
3.   cost function: $J(w, b)$
4.   objective: $min_{w,b} J(w,b)$

In [ ]:
# define our function (or hypothesis)
def linear_function(w, b, x):
  return

In [ ]:
# check if our function works
linear_function(1, 100, x_train[0])

In linear regression, we define cost function as squared error:


$J(w,b) = 1/2m \sum_{i=1}^{m} (f_{wb}(x^{(i)}) - y^{(i)})^2$

In [ ]:
# define cost function
def cost_model(w, b, x, y):
  '''
  Args:
    model param: w, b
    input training data: x, y
  Return:
    cost: J_wb
  '''
  # initialize cost J_wb
  J_wb = 0

  # compute cost given w, b


  return

In [ ]:
cost_model(1, 100, x_train, y_train)

Let us draw our initial model and its cost function with respect to $w$

In [ ]:
# our predicted value with w = 1, b = 100

In [ ]:
# plot our data on 2-dimension xy-plane

# labels and title

# our legend

In [ ]:
# cost function J_w with respect to w only
J_w = np.zeros(20)
w = np.linspace(0.5,  1.5, 20)
for i in range(20):
  J_w[i] = cost_model(w[i], 100, x_train, y_train)

# print cost function J_w
J_w

In [ ]:
# plot J_w
plt.plot(w, J_w)

Implement our learning algorithm - gradient descent algorithm where

$dJ / dw = 1/m \sum_{i=1}^{m} (f_{wb}(x^{(i)}) - y^{(i)}) * x^{(i)}$ and

$dJ / db = 1/m \sum_{i=1}^{m} (f_{wb}(x^{(i)}) - y^{(i)})$

In [ ]:
# define gradient function w.r.t w
def compute_grad_w(w, b, x, y):
  '''
    Args:
      param: w, b
      training data: x, y
    Return:
      dJ_dw
  '''

  return

In [ ]:
# check if our function works
compute_grad_w(100, 1, x_train, y_train)

In [ ]:
# define gradient function w.r.t b
def compute_grad_b(w, b, x, y):
  '''
    Args:
      param: w, b
      training data: x, y
    Return:
      dJ_db
  '''

  return

In [ ]:
# check if our function works
compute_grad_b(100, 1, x_train, y_train)

In [ ]:
# gradient descent algorithm
def grad_descent(x, y):
  '''
    Args:
      training data: x, y
    Returns:
      params: w, b
      cost: J
  '''
  # create param w, b

  # initialize w and b

  # learning rate (alpha) and convergence ratio (epsilon)
  alpha = 0.0001
  epsilon = 0.001

  # repeat procedure until convergence

  return w, b, J

In [ ]:
# compute gradient descent to obtain optimal paramters w and b, and number of iterations t
w_trace, b_trace, J = grad_descent(x_train, y_train)

In [ ]:
# let look at the history of w
w_trace

In [ ]:
# let look at the history of b
b_trace